[Unit]
Description=pacemaker monitor

[Service]
Type=simple
EnvironmentFile=/etc/default/crm_mon
ExecStart=/usr/sbin/crm_mon $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
